<body>

    <div class="container mt-5">
        <div class="row">
            <!-- Beginner Plan -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://media.istockphoto.com/id/1207041834/photo/group-of-young-happy-fit-people-doing-exercises-in-gym.jpg?s=612x612&w=0&k=20&c=3LkL97NzJct4YwSNc_X70FEX9uH-BkKBMY9Vgy1O5sg=" class="card-img-top" alt="Beginner Plan">
                    <div class="card-body text-center">
                        <h5 class="card-title">Beginner Plan</h5>
                    </div>
                </div>
            </div>
    
            <!-- Intermediate Plan -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://images7.alphacoders.com/130/1308025.jpg" class="card-img-top" alt="Intermediate Plan">
                    <div class="card-body text-center">
                        <h5 class="card-title">Intermediate Plan</h5>
                    </div>
                </div>
            </div>
    
            <!-- Pro Plan -->
            <div class="col-md-4">
                <div class="card">
                    <img src="https://wallpapercat.com/w/full/e/2/d/874377-3729x2101-desktop-hd-gym-wallpaper-photo.jpg" class="card-img-top" alt="Pro Plan">
                    <div class="card-body text-center">
                        <h5 class="card-title">Pro Plan</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>