#text-ae4a3b2c5e p,#text-4ef60265d7 p,#text-b2798b4363 p,#text-9c3525bd67 p,#text-0ee196a786 p,#text-0f75a3282d p,#text-87a3df8321 p,#text-7514e4e586 p,#text-28775774cc p,#text-ad4af3a414 p{
	background-color:#d4dfed;
    padding:3%;
    border-radius:10px;
}